/.gradle
# intelliJ
/.idea
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist
node_modules
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
coverage/
.module-cache
*.log*
*.sublime-project
*.sublime-workspace
.idea
*.iml
*.swp
.idea/
.vscode/
node_modules/
build
*.tgz
lerna-debug.log
/.changelog
.npm/
*.swo
.cache/
/.idea/
