.App {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.Employers {
  list-style: none;
    padding: 0
}

.EmployersMonth {
    padding: 0
}

.EmployerList {
  list-style: none;
    padding: 0
}

.AllMonths {
  list-style: none;
    padding: 0
}

.lenke.hjelpetekstLenke {
  color: white;
}

.lenke.skatteLenke {
  color: #0067C5;
}

header {
  background: white;
  color: white;
}

.header img {
  float: left;
  width: 100px;
  color: white;
  padding: 0;

}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

ul.a {
  padding-left: 20px;
  list-style-type: circle;
}

ul {
list-style: none;
  padding: 0;

}
li.b{
  list-style-type: circle;
  margin-left: 1rem;

}
li  {
padding: 0;

}

em.incomeNumber {
  text-decoration: underline;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
